<section class="hero-dark">
    <div class="hero-dark__overlay">
        <div class="hero-dark__content">
            <h1 class="hero-dark__title">Find Your Dream Job</h1>

            <div class="hero-dark__search">
                <input type="text" placeholder="Job or Compony title ..." class="hero-dark__input" />
                <button class="hero-dark__button">Search</button>
            </div>

            <!-- <div class="hero-dark__tags">
                <span>Popular searches:</span>
                <a href="#">Frontend</a>
                <a href="#">Marketing</a>
                <a href="#">Remote</a>
                <a href="#">Sales</a>
            </div> -->
        </div>
    </div>
</section>