section {
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 2rem;
    align-items: center;

    position: relative;
    height: 100vh;
    background: url('https://images.unsplash.com/photo-1498050108023-c5249f4df085?auto=format&fit=crop&w=1470&q=80') no-repeat center center/cover;
    direction: rtl;

    &::before {
        content: '';
        position: absolute;
        inset: 0;
        background: rgba(10, 40, 80, 0.45);
        z-index: 1;
    }

    .title {
        position: absolute;
        top: 18%;
        left: 50%;
        transform: translate(-50%, -50%);
        z-index: 2;
        font-family: 'Vazirmatn', sans-serif;
        font-size: 2rem;
        font-weight: 900;
        text-align: center;
        background: linear-gradient(90deg, #40e0ff, #2ca3ff, #a28aff);
        /* گرادیانت روشن‌تر */
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
        animation: shine 4s infinite linear;
        max-width: 700px;
        width: 90%;
    }


}

@keyframes shine {
    0% {
        background-position: 0% center;
    }

    100% {
        background-position: 200% center;
    }
}


.search {
    display: flex;
    flex-direction: row;
    line-height: 28px;
    align-items: center;
    position: relative;
    max-width: 190px;

    .icon {
        position: absolute;
        left: 1rem;
        fill: #9e9ea7;
        width: 1rem;
        height: 1rem;
    }

    .input {
        width: 100%;
        height: 40px;
        line-height: 28px;
        padding: 0 1rem;
        padding-left: 2.5rem;
        border: 2px solid transparent;
        border-radius: 8px;
        outline: none;
        background-color: #f3f3f4;
        color: #0d0c22;
        transition: 0.3s ease;

        &::placeholder {
            color: #9e9ea7;
        }

        &:focus,
        &:hover {
            outline: none;
            border-color: rgb(11, 113, 209);
            background-color: #fff;
            box-shadow: 0 0 0 4px rgba(11, 113, 209, 0.1);
        }
    }
}

.introduction {}