<section class="hero-dark">
    <div class="hero-dark__overlay"></div>
    <div class="hero-dark__content">
        <h1 class="hero-dark__title">Find Your Dream Job</h1>

        <div class="hero-dark__search">
            <input type="text" placeholder="Job or Company title ..." class="hero-dark__input" />
            <button class="hero-dark__button">Search</button>
        </div>
    </div>
</section>

<section class="ads-section">
    <div class="container">
        <!-- <h2 class="section-title">Latest Opportunities</h2> -->
        <app-advertisement-list></app-advertisement-list>
    </div>
</section>

<app-footer></app-footer>



<!-- <section class="hero-dark">
    <div class="hero-dark__overlay">
        <div class="hero-dark__content">
            <h1 class="hero-dark__title">Find Your Dream Job</h1>

            <div class="hero-dark__search">
                <input type="text" placeholder="Job or Company title ..." class="hero-dark__input" />
                <button class="hero-dark__button">Search</button>
            </div>
        </div>
    </div>
    <div>
        <mat-card>
            
        </mat-card>
    </div>
</section>
<section>
    <footer>
        <app-footer />
    </footer>
</section> -->