<mat-toolbar>
    <section class="left">
        <mat-icon class="list">view_headline</mat-icon>
        <a class="brand" routerLink="/">
            jobian
        </a>
    </section>

    <ul class="navbar-links">
        <li>Job Opportunities</li>
        <li>Companies</li>
        <li>Resume Builder</li>
    </ul>

    <section class="right">
        @if (accountService.loggedInUserSig(); as user) {
        <button [mat-menu-trigger-for]="appMenu" class="menu-button" mat-mini-fab>
            @if (user.profilePhotoUrl) {
            <img src="{{apiUrl + user.profilePhotoUrl}}" alt="">
            }
            @else {
            <span>{{user.userName![0] | titlecase}}</span>
            }
        </button>
        }
        @else {
        <button routerLink="/account/job-seeker-register" mat-raised-button>Register</button>
        }
    </section>

    <mat-menu class="mat-menu" #appMenu>
        @if (accountService.loggedInUserSig(); as user) {
        <div class="user-info">
            <div class="profile-info">
                @if (user.profilePhotoUrl) {
                <img src="{{apiUrl + user.profilePhotoUrl}}" alt="">
                }
                @else {
                <img src="member.jpg" alt="{{user.userName![0] | titlecase}}">
                }
            </div>
            <div>
                <p class="email">{{ user.email }}</p>
            </div>
        </div>
        }

        <mat-divider></mat-divider>
        <mat-list>
            <mat-list-item>
                <div class="menu-items">
                    <mat-icon>edit_note</mat-icon>
                    Edit Profile
                </div>
            </mat-list-item>
            <mat-list-item>
                <div class="menu-items">
                    <mat-icon>people</mat-icon>
                    All Members
                </div>
            </mat-list-item>
            <mat-list-item>
                <div class="menu-items">
                    <mat-icon>question_answer</mat-icon>
                    Messages
                </div>
            </mat-list-item>
        </mat-list>

        <mat-divider></mat-divider>
        <div class="logout">
            <button (click)="logout()" mat-raised-button color="warn">Logout</button>
        </div>
    </mat-menu>
</mat-toolbar>

<!-- <nav class="navbar">
    <div class="navbar__left">
        <button class="navbar__menu">
            <i class="fa fa-bars"></i>
        </button>
        <a class="navbar__brand" href="#">Jobian</a>
    </div>

    <ul class="navbar__links">
        <li><a href="#">Job Opportunities</a></li>
        <li><a href="#">Resume Builder</a></li>
    </ul>

    <div class="navbar__right">
        <button class="navbar__auth">Register / Login</button>
    </div>
</nav> -->