section {
    display: flex;
    justify-content: center;
    // background: linear-gradient(180deg, #ffffff 0%, #92cff8 100%);

    .container {
        display: flex;
        flex-direction: column;
        max-width: 300px;
        background: #F8F9FD;
        background: matInput linear-gradient(0deg, rgb(255, 255, 255) 0%, rgb(244, 247, 251) 100%);
        border-radius: 40px;
        padding: 25px 35px;
        border: 5px solid rgb(239, 215, 245);
        box-shadow: rgba(195, 148, 242, 0.878) 0px 20px 10px -15px;
        margin: 20px;
    }

    .heading {
        text-align: center;
        font-weight: 900;
        font-size: 30px;
        // color: rgb(16, 137, 211);
        color: #6d43e2;
    }

    .form {
        margin-top: 20px;

        .input {
            display: flex;
            align-items: center;
            width: 150px;
            background: white;
            border: none;
            padding: 15px 20px;
            border-radius: 20px;
            margin-top: 15px;
            box-shadow: #d1a1fb 0px 10px 10px -5px;
            border-inline: 2px solid transparent;

            &:focus {
                outline: none;
                border-inline: 2px solid #6d43e2;
            }
        }

        .login {
            margin-top: 15px;
            margin-left: 8px;
            font-size: 15px;
            // color: rgb(16, 137, 211);
            color: #6d43e2;

            &:hover {
                cursor: pointer;
            }
        }

        .register {
            display: flex;
            justify-content: center;
            width: 100%;
            font-weight: bold;
            // background: linear-gradient(45deg, rgb(16, 137, 211) 0%, rgb(18, 177, 209) 100%);
            background: #6d43e2;
            color: white;
            padding-block: 15px;
            margin: 20px auto;
            border-radius: 20px;
            box-shadow: rgba(195, 148, 242, 0.878) 0px 20px 10px -15px;
            border: none;
            transition: all 0.2s ease-in-out;

            &:hover {
                transform: scale(1.03);
                box-shadow: rgba(195, 148, 242, 0.878) 0px 20px 10px -15px;
            }

            &:active {
                transform: scale(0.95);
                box-shadow: rgba(195, 148, 242, 0.878) 0px 20px 10px -15px;
            }
        }
    }
}